.list-item {
    color: black;
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    margin: 35px auto;
}

.list a{
    background-color: aquamarine;
    padding: 1em 2em;
}

.list a:hover {
    background-color: blueviolet;
    color: #fff
}



